.p-name {
    animation-duration: 2s;
    animation-name: nombre;
}

@keyframes nombre {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

.p-about-me {
    animation-duration: 3s;
    animation-name: about-me;
}

@keyframes about-me {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

.profile-pic {
    animation-duration: 2s;
    animation-name: profile-img;
}

@keyframes profile-img {
    from {
        transform: translate3d(0, -100%,0);
        opacity: 0;
    } to {
        transform: translate(0,0,0);
        opacity: 1;
    }

}

nav {
    animation-duration: 1s;
    animation-name: nav-bar;
}

@keyframes nav-bar {
    from {
        transform: scale(0.7);
        opacity: 0;
    } to {
        transform: scale(1);
        opacity: 1;
    }
}

p {
    animation-duration: 3s;
    animation-name: text-animation;
}

@keyframes text-animation {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

hr {
    animation-duration: 3s;
    animation-name: hr-animation;
}

@keyframes hr-animation {
    from {
        transform: scale(0);
    } to {
        transform: scale(1);
    }
}

.img-portfolio {
    animation-duration: 1s;
    animation-name: img-portfolio-animation;
}

@keyframes img-portfolio-animation {
    from {
        transform: scale(0.7);
        opacity: 0;
    } 
}

.skills-learning-icons-container div {
    animation-duration: 2s;
    animation-name: icons-animation;
}

@keyframes icons-animation {
    from {
        transform: scale(1.1);
    }
}

.img-contacto {
    animation-duration: 2s;
    animation-name: img-contacto-animation;
}

@keyframes img-contacto-animation {
    from {
        transform: translate3d(0, 100%, 0);
        opacity: 0;
    } to {
        transform: translate3d(0, 0%, 0);
        opacity: 1;
    }
}