body {
    display: flex;
    flex-direction: column;
    font-family: 'Oswald', sans-serif;
    background-color: #262626;
    color: #fff3f3;
}

header {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-fullpage {
    display: flex;
    flex-direction: column;
    margin: 5px;
    background-color: rgba(13, 13, 13, 0.5);
    box-shadow: -1px 10px 10px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

.div-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-pic {
    width: 100%;
    max-width: 200px;
    margin-top: 30px;
    border-radius: 50%;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.817);
}

.p-name {
    font-size: 35px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.about-me {
    font-size: 120%;
    margin: 5px;
    width: 100%;
    max-width: 600px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-me span{
    display: inline-flex;
}

#nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background-color: #006080;
    border-radius: 10px;
    padding: 2px;
    background: linear-gradient(90deg, rgba(13,13,13,0.05) 0%,
    rgba(45,45,45,0.48783263305322133) 35%,
    rgba(13,13,13,0.053658963585434205) 100%);
    /* background: linear-gradient(90deg, rgba(13,13,13,0.053658963585434205) 0%, rgba(65,82,84,0.2777485994397759) 48%, rgba(13,13,13,0.053658963585434205) 100%); */
    margin-top: 50px;
    margin-left: 5px;
    margin-right: 5px;
}

.nav-link{
    display: inline-block;
    font-size: 22px;
    text-decoration: none;
    border-radius: 10px;
    color: #fff3f3;
    padding: 10px ;
}

.nav-link:hover {
    color: black;
    border-radius: 10px;
}

.category-separation {
    margin-top: 120px;
}

.category-container {
    display: flex;
    justify-content: center;
    margin-inline: 50px;
}

.title {
    font-size: 25px;
}

hr {
   border: none;
   height: 1px; 
   background-image: linear-gradient(90deg, rgba(13,13,13,0.05) 0%,
   rgba(96, 95, 95, 0.488) 35%,
   rgba(13,13,13,0.053658963585434205) 100%);
}

.portfolio-container {
    margin-top: 1px;
}

.portfolio-images-container {
    margin-top: 4vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: 2px;
}

.portfolio-images-container div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px;
}

.portfolio-images-container div a:hover {
    color: black;
}

.portfolio-images-container div a img:hover {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.817);
}

.portfolio-images-container a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
    margin-top: 50px;
    font-size: 22px;
    text-decoration: none;
    color: #fff3f3;
}

.img-portfolio {
    display: inline-flex;
    align-items: center;
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.6);
}

.skills-learning-icons-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.skills-learning-icons-container div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px;
}

.skills-learning-icons-container div img {
    width: 100%;
    max-width: 100px;
    margin-right: 10px;
    background-color: rgba(101, 101, 101, 0.098);
    padding: 20px;
    border-radius: 10px;
}

.skills-learning-icons-container div p { /* <---Pendiente */
    opacity: 0;
}

.skills-learning-icons-container div img:hover {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.817);
}

.skills-learning-icons-container div p:hover { /*<---Pendiente */
    opacity: 1;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}

.email {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.email span {
    font-size: 25px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.img-contacto {
    width: 50px;
    height: 50px;
    margin: 10px;
    margin-bottom: 10px;
}

.img-contacto:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.817);
}
