body {
    display: flex;
    flex-direction: column;
    font-family: 'Oswald', sans-serif;
    background-color: #262626;
    color: #bfbfbf;
    /* text-shadow: 0px 2px 2px rgba(0, 0, 0, 10); */
}

header {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-fullpage {
    display: flex;
    flex-direction: column;
    margin: 5px;
    background-color: rgba(13, 13, 13, 0.5);
    box-shadow: -1px 10px 10px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

.div-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-pic {
    width: 100px;
    height: 100px;
    margin-top: 30px;
    border-radius: 50px;
    box-shadow: -1px 5px 15px rgba(0, 0, 0, 10);
}

.p-name {
    font-size: 35px;
    margin-top: 10px;
}

.p-about-me {
    font-size: 28px;
    margin-top: -20px;
}

#nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background-color: #006080;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.694);
    margin-top: 50px;
    margin-left: 5px;
    margin-right: 5px;
}

.nav-link{
    display: inline-block;
    font-size: 22px;
    text-decoration: none;
    background-color: #006080;
    border-radius: 10px;
    color: white;
    padding: 10px ;
}

.nav-link:hover {
    background-color: #bfbfbf;
    color: black;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
}

.category-separation {
    margin-top: 190px;
}

.category-container {
    display: flex;
    justify-content: center;
    margin-inline: 50px;
}

.title {
    font-size: 25px;
}

hr {
   border: none;
   height: 1px; 
   background-image: linear-gradient(to right, #1a1a1a, #24252c,
    #2a303f, #2b3e53, #254c67, #254c67, #254c67, #254c67,
    #2b3e53, #2a303f, #24252c, #1a1a1a);
}

.portfolio-container {
    margin-top: 1px;
}

.portfolio-images-container {
    margin-top: 4vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.portfolio-images-container div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.portfolio-images-container div:hover {
    background-color: rgba(101, 101, 101, 0.098);
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.694);
}

.portfolio-images-container p {
    font-size: 22px;
}

.img-portfolio {
    display: inline-flex;
    width: 21rem;
    height: 13rem;
    margin: 2rem;
    margin-top: 1rem;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
}

.skills-learning-icons-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.skills-learning-icons-container div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px;
}

.skills-learning-icons-container div img {
    width: 110px;
    height: 110px;
    margin-right: 10px;
    background-color: rgba(101, 101, 101, 0.098);
    padding: 20px;
    border-radius: 10px;
}

.skills-learning-icons-container div p { /* <---Pendiente */
    opacity: 0;
}

.skills-learning-icons-container div img:hover {
    width: 120px;
    height: 120px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.694);
}

.skills-learning-icons-container div p:hover { /*<---Pendiente */
    opacity: 1;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.img-contacto {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
